<div class="footer">
    <div class="footer-links">
        <div>
            <li class="nav-item">
                <a class="navbar-brand" routerLink="/home" >Home</a>
            </li>
        </div>
        <div>
            <li class="nav-item">
                <a class="navbar-brand" routerLink="/about">About</a>
             </li>   
        </div>
        <div>
            <li class="nav-item">
                <a class="navbar-brand" routerLink="/survey">Survey</a>
            </li>
        </div>
        <div>
            <li class="nav-item">
                <a class="navbar-brand" routerLink="/login" >Login</a>
            </li>
        </div>  
    </div>
</div>
