
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <section class="about_section" id="About">
        <div class="about_img">
            <img src="icon.png"  routerLink="/home">
        </div>
        <div class="about_details">
            <h1>About Us</h1>
            <p>HK01 is a Centennial College student-created Angular-based Web-Application that allows anyone to build their own questionnaires and have complete control over their responses. This useful tool includes a full survey and a high-level encryption algorithm to keep your data safe.</p>
    
            <div class="btns">
                <a routerLink="/login" class="btn btn1">Get Started</a>
                <a href="https://github.com/" class="btn btn2">Find us on  <i class="fa fa-github"></i></a>
            </div>
        </div>
    </section>
</body>

