
<form class="loginform">
    <h1 class="Lh1">Login</h1>
    <div id="usernameHelp" class="form-text"><a  class="link" routerLink="/signup"> Don't have an account yet?</a></div>
    <p></p>
    <div class="mb-3 ">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" placeholder="admin" aria-describedby="usernameHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" placeholder="******" id="password" >
    </div>
    <div class="bcenter">
      <div class="btns">
        <a class="btn btn1">Submit</a>
    </div></div>
  </form>