<form class="signupform">
    <h1 class="Lh1">Sign Up</h1>
    <div id="usernameHelp" class="form-text"><a  class="link" routerLink="/login">Already Registered? Login Here. </a></div>
    <p></p>
    <div class="mb-3 ">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" placeholder="admin" aria-describedby="usernameHelp">
      
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" placeholder="******" id="password">
    </div>

    <div class="mb-3">
        <label for="cfm-password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" placeholder="******" id="cfm-password">
      </div>

    <div class="mb-3">
     <label for="email" class="form-label">Email</label>
     <input type="email" class="form-control" placeholder="admin@email.com" id="email">
    </div>
    
    <div class="bcenter">
    <div class="btns">
      <a class="btn btn1">Submit</a>
  </div></div>
  </form>